<script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
<head>
    {% include header.html %}
</head>
<body>

    <div class="wrapper-{% if site.width == "normal" %}normal{% elsif site.width == "large" %}large{% endif %}">
        {% if page.tag %}
            <div class="post">
        {% else %}
                <div class="{{ page.title | downcase }}">
        {% endif %}

            {{ content }}
        </div>
    </div>

</body>
